*{
    margin: 0;
    padding: 0;
}
/* 超链接样式设置 */
a{
    text-decoration: none;
    color: rgb(0, 213, 255); 
}
a:hover{
    color: rgb(0, 164, 197); 
    text-decoration: underline black;
}
/* ------------------ */
.flex-containner{
    margin: 0 auto;
    height: 600px;
    width: 80%;
    display: flex;
    flex-direction: row;
}
.flex-item{
    background-color: rgb(248, 255, 255);
    border: 1px solid black;
    height: 100%;
    width: 33%;
    overflow:hidden;
}
#left{
    text-align: center;
}
#left > p:nth-of-type(n){
    text-indent:2em;
    font-size: small;
    text-align: justify;
}
#left > p:last-of-type{
    display: inline-block;
    font-size: xx-small;
    color:rgb(164, 164, 164);
    width: 60%;
}
.middle-item{
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 20px;
}
.head{
    width: 80px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.head > div:nth-child(1){
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: x-large;
    background-color: aliceblue;
    color: aqua;
    border: 1px solid black;
}
.head > div:nth-child(2){
    width: 50%;
    height: 100%;
    text-align: center;
    font-size:small;
    top: 50%;
    word-wrap: break-word;
    border: 1px solid black;
}